body {
  background-color: rgba(237, 251, 202, 0.5);
}

.timer {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px 0px;
}

.value {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.27;
  background-color: rgba(66, 60, 60, 0.5);
  color: #fff;
  padding: 15px;
  margin-bottom: 25px;
  box-shadow: 4px 4px 8px 10px rgba(34, 80, 38, 0.42);
}

.label {
  font-size: 24px;
  font-weight: 700;
  color: rgba(66, 60, 60, 0.5);
}

.field:not(:last-child) {
  margin-right: 45px;
}